<p class="header text-center">Glossary</p>
<div class="container">
    <div class="btn-group col-md-2">
        <div ng-repeat="combo in $ctrl.combos" class="add-small-margin">
            <button type="button" class="btn btn-info btn-block" ng-click="$ctrl.selectCombo(combo)">{{combo.name}}</button>
        </div>
    </div>
    <div class="col-md-10">
        <div class="add-small-margin">
            <div class="card card-block">
                <p class="glossary-card-header">{{$ctrl.getName()}}<p>
                {{$ctrl.formatPunches()}}
            </div>
        </div>
    </div>
</div>