<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="row">
            <p class="header text-center">Boxing Buddy</p>
        </div>
        <div class="row text-center">
            <div class="btn-group">
                <button type="button" class="btn btn-primary center-block add-small-margin" ng-click="$ctrl.enterRing()">
                    <img ng-src="./img/boxing_glove_left.svg" alt="enter ring" 
                        height="32" width="32" />
                    <span>Enter Ring</span>
                </button>
                <button type="button" class="btn btn-primary center-block add-small-margin" ng-click="$ctrl.practiceCombos()">
                    <img ng-src="./img/man-boxing.svg" alt="practice combos" 
                        height="32" width="32" />
                    <span>Combinations</span>
                </button>
                <button type="button" class="btn btn-primary center-block add-small-margin" ng-click="$ctrl.viewGlossary()">
                    <img ng-src="./img/big-dictionary.svg" alt="glossary" 
                        height="32" width="32" />
                    <span>Glossary</span>
                </button>
                <button type="button" class="btn btn-primary center-block add-small-margin" ng-click="$ctrl.goToSettings()">
                    <img ng-src="./img/settings.svg" alt="settings" 
                        height="32" width="32" />
                    <span>Settings</span>
                </button>
            </div>
        </div>
    </div>
</div>